#current-sum {
  background-color: #f3cef3;
  margin-left: 10rem;
  margin-right: 10rem;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
