<div *ngIf="loaded else loading" style="display: flex; align-items: center; justify-content: center; width: 100%">
  <div>
    <div id="account-balance">
      <button type="button" class="btn">
        <strong>Kontostand: {{ currencyManagementService.numberInEUR(balance) }} | {{ this.currencyManagementService.numberInVND(Math.round(balance * rate)) }}</strong>
        <div id="container-stars">
          <div id="stars">
          </div>
        </div>

        <div id="glow">
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </button>
    </div>
    <app-graph [setTitle]="title"
               [setVIB]="dataPoints"
               [setXTitle]="xTitle"
               [setYTitle]="yTitle"/>
  </div>
</div>

<ng-template #loading>
  <app-loader/>
</ng-template>
