<div *ngIf="loaded else loading">
  <h1 id="account-balance">
    Kontostand: {{ currencyManagementService.numberInEUR(balance) }} | {{ this.currencyManagementService.numberInVND(Math.round(balance * rate)) }}
  </h1>
  <app-graph [setTitle]="title"
             [setData1]="dataPoints"
             [setXTitle]="xTitle"
             [setYTitle]="yTitle"/>
</div>

<ng-template #loading>
  <div class="d-flex justify-content-center">
    <div role="status" style="width: 3rem; height: 3rem; margin-top: 20%">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</ng-template>
