
<p class="d-inline-flex gap-1">
  <button class="btn btn-outline-dark"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#transactionCreate"
          aria-expanded="false"
          aria-controls="transactionCreate" (click)="createButton()">

    <i class="fa-solid fa-caret-up" *ngIf="expanded else notExpanded"></i>
    <ng-template #notExpanded>
      <i class="fa-solid fa-caret-down"></i>
    </ng-template>
  </button>
</p>
<div class="collapse" id="transactionCreate">
  <div class="card card-body container-sm">
    <h3>Eine neue Transaktion hinzufügen:</h3>

    <div class="input-group mb-3">
      <span class="input-group-text" id="description">Beschreibung:</span>
      <input type="text" class="form-control" placeholder="Beschreibung" aria-label="Description" aria-describedby="description" [(ngModel)]="tranRequest.description">

      <span class="input-group-text" id="value">Betrag (€):</span>
      <input type="text" class="form-control" placeholder="value" aria-label="value" aria-describedby="value" [(ngModel)]="tranRequest.value">

      <mat-form-field>
        <mat-label>Datum auswählen</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date" (dateChange)="updateDate($event)">
        <mat-hint>TT-MM-JJJJ</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
    </div>

    <button type="button" class="btn btn-success" (click)="addTransaction()">Hinzufügen</button>
  </div>
</div>
