<div *ngIf="loaded else loading">
  <h1>Transaktionsdetail</h1>
  <div class="input-group mb-3">
    <span class="input-group-text" id="description">Beschreibung:</span>
    <input type="text"
           class="form-control"
           placeholder="description"
           aria-label="description"
           aria-describedby="description"
           [(ngModel)]="transaction.description">

    <span class="input-group-text" id="value">Betrag (€):</span>
    <input type="text"
           class="form-control"
           placeholder="value"
           aria-label="value"
           aria-describedby="value"
           [(ngModel)]="transaction.value">

    <mat-form-field>
      <mat-label>Datum auswählen</mat-label>
      <input matInput [matDatepicker]="dp" [formControl]="date" (dateChange)="updateDate($event)">
      <mat-hint>Aktuelles Datum: {{app.reformatDate(transaction.date || '')}}</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
  </div>

  <button type="button" class="btn btn-success" (click)="edit()">Bearbeiten</button>&nbsp;
  <button type="button" class="btn btn-danger" (click)="del()">Löschen</button>

</div>

<ng-template #loading>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status" style="width: 3rem; height: 3rem; margin-top: 20%">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>
