/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "bootstrap/dist/css/bootstrap.min.css";

.active{
  border-radius: 5px;
  background-color: #EBEBEB;
}

.nav-link:hover {
  border-radius: 5px;
  background-color: #EBEBEB;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cdk-overlay-container {
  z-index: 1070; // Higher than the modal's z-index
}
.button-close{
  padding: calc(var(--bs-modal-header-padding-y) * 0.5) calc(var(--bs-modal-header-padding-x) * 0.5);
  margin: calc(-0.5 * var(--bs-modal-header-padding-y)) calc(-0.5 * var(--bs-modal-header-padding-x)) calc(-0.5 * var(--bs-modal-header-padding-y)) auto;
}
